<ion-content [fullscreen]="true">

  <div class="register-container">

    <div class="header-section">

      <div class="logo-circle">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>

      <h1>Create Account</h1>

      <p>
        Create your Document Vault account
      </p>

    </div>

    <div class="register-card">

      <ion-item>
        <ion-input
          label="Full Name"
          labelPlacement="floating"
          placeholder="Enter your name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          type="email"
          placeholder="Enter email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Mobile Number"
          labelPlacement="floating"
          type="tel"
          placeholder="Enter mobile number">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          placeholder="Create password">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Confirm Password"
          labelPlacement="floating"
          type="password"
          placeholder="Confirm password">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="register-button"
        routerLink="/login">

        CREATE ACCOUNT

      </ion-button>

      <ion-button
        expand="block"
        fill="clear"
        routerLink="/login">

        Already have an account? Login

      </ion-button>

    </div>

  </div>

</ion-content>