<ion-header>
  <ion-toolbar>

    <ion-title>
      Document Vault
    </ion-title>

    <ion-buttons slot="end">

      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="home-page">

  <div class="welcome-section">

    <h1>Welcome 👋</h1>

    <p>
      Manage your important documents securely.
    </p>

  </div>


  <div class="option-card"
       routerLink="/store-document">

    <div class="option-icon upload-icon">

      <ion-icon
        name="cloud-upload-outline">
      </ion-icon>

    </div>

    <div class="option-content">

      <h2>Store Documents</h2>

      <p>
        Upload and organize your documents.
      </p>

    </div>

    <ion-icon
      name="chevron-forward-outline">
    </ion-icon>

  </div>


  <div class="option-card"
       routerLink="/documents">

    <div class="option-icon folder-icon">

      <ion-icon
        name="folder-open-outline">
      </ion-icon>

    </div>

    <div class="option-content">

      <h2>See Documents</h2>

      <p>
        View your documents category wise.
      </p>

    </div>

    <ion-icon
      name="chevron-forward-outline">
    </ion-icon>

  </div>

</ion-content>